Cython
librosa
matplotlib
numpy
phonemizer
scikit-learn
scipy
tensorboard
torch
torchvision
torchaudio
unidecode
amfm_decompy
tqdm
cn2an
pypinyin
jieba
transformers
demucs
openai-whisper
imageio
moviepy
gradio
fastapi
